@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  visibility: hidden;
}

html.wf-active {
  visibility: visible;
}

body {
  font-family: "fira-mono", "a-otf-ud-shin-go-pr6n", sans-serif;
}

@layer base {
  .article h1 {
    @apply card-title mb-2 text-primary font-title
  }

  .article h2 {
    @apply text-lg font-bold mb-2 font-title
  }

  .article h3 {
    @apply font-bold mb-2 text-secondary font-title
  }

  .article p {
    @apply tracking-widest text-neutral-400 leading-9
  }

  .card-body > * {
    @apply space-y-4 text-neutral-200
  }

  .article img {
    @apply rounded-box
  }
}
